.top{
    display: flex;
    justify-content: space-between;
    background: $primary-color;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all .3s;
    & a{
        text-decoration: none;
        color: white;
    }
    &:hover{
        background: $accent;
        color: black;
    }
}

.menu{
    display: flex;

    &__item{
        list-style: none;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-right: 1rem;
    }

    &__link{
        text-decoration: none;
        padding: 1rem;
        line-height: 1.2;
        color: white;
        position: relative;
        text-transform: uppercase;
    }

    &__link:hover::after{
        content: '';
        position: absolute;
        background: $accent;
        width: 100%;
        height: 2px;
        right: 0;
        top: 80%;
        z-index: 100;
    }
}