.partner{
    background-color: #2e2e2e;
    &__imgs{
        display: flex;
        justify-content: space-evenly;
    }

    &__img{
        width: 33.33%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
        & img{
            display: inline-block;
        }
    }
}