extends template/base
block banner
  include /pages/banner
block main
  include /pages/how
  include /pages/solutions
  include /pages/tools
  include /pages/partners
  include /pages/industries
  include /pages/contact
block footer
  include /pages/footer