footer.footer.section#footer
  .footer__top
    .logo.footer__logo#logo 
      a(href="top") Upaya
    ul.menu.footer__menu#menu
      li.menu__item.footer__menu__item
        a(href="#top").menu__link.footer__menu__link Home
      li.menu__item.footer__menu__item
        a(href="#").menu__link.footer__menu__link Consultoria
      li.menu__item.footer__menu__item
        a(href="#solutions").menu__link.footer__menu__link Soluciones
      li.menu__item.footer__menu__item
        a(href="#industry").menu__link.footer__menu__link Industrias
      li.menu__item.footer__menu__item
        a(href="#contact").menu__link.footer__menu__link Contacto
      li.menu__item.footer__menu__item
        a(href="#industry").menu__link.footer__menu__link Nosotros
  .footer__bottom
    .footer__bottom__copy Copyright &copy 2020 Upaya.
    nav.footer__bottom__terms
      ul.footer__bottom__terms__menu
        li.footer__bottom_terms__item.menu__item.footer__menu__item
          a(href="#").footer__bottom_terms__link.menu__link.footer__menu__link Terminos y Condiciones
        li.footer__bottom_terms__item.menu__item.footer__menu__item
          a(href="#").footer__bottom_terms__link.menu__link.footer__menu__link Anuncio de privacidad