section.section.section__how.how
  h1.section__title.title_how#how Como lo hacemos
  .how__process
    .how__process__icon
      i.icon-search.how__process__icon__icon
      h2 Análisis
    .how__process__icon
      i.icon-arrow.how__process__icon__icon
    .how__process__icon
      i.icon-design.how__process__icon__icon
      h2 Diseño
    .how__process__icon
      i.icon-arrow.how__process__icon__icon
    .how__process__icon
      i.icon-implement.how__process__icon__icon
      h2 Mejoras
    .how__process__icon
      i.icon-arrow.how__process__icon__icon
    .how__process__icon
      i.icon-release.how__process__icon__icon
      h2 Lanzamiento