section.section.section__how.how
  h1.section__title.title_how Como lo hacemos
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis ab laborum modi, nesciunt quas repellat sequi deleniti rerum, dolor explicabo incidunt aspernatur placeat inventore ea quaerat eos expedita. Deleniti, odit!