section.section.section__industry.industry#industry
  h1.section__title.title__industry Industrias
  .industry_photos
    .industry_photos_1.photo
      h2 E-commers
    .industry_photos_2.photo 
      h2 Retails
    .industry_photos_3.photo 
      h2 Educación
    .industry_photos_4.photo 
      h2 IoT
    .industry_photos_5.photo 
      h2 Telecomunicaciones
    .industry_photos_6.photo
      h2 Transporte
    .industry_photos_7.photo 
      h2 Gas & Oil
    .industry_photos_8.photo 
      h2 Finanzas
    .industry_photos_9.photo 
      h2 Restaurants