.section.section__partner.partner
  h1.section__title Partners 
  .partner__imgs
    .partner__img
      img(src="/assets/img/partners/att.svg", alt="at&t")
    .partner__img
      img(src="/assets/img/partners/totalplay.png", alt="total play")
    .partner__img
      img(src="/assets/img/partners/zenttinel.jpeg", alt="zenttinel")