section.section.section__solution.solution#solutions
  h1.section__title.title__solution Soluciones
  .solution__items 
    .solution__icon 
      i.solution__icon_font.icon-movil
      a(href="#") 
        h2.solution__icon_text Móvil
    .solution__icon
      i.solution__icon_font.icon-web
      a(href="#") 
        h2.solution__icon_text Web
    .solution__icon
      i.solution__icon_font.icon-appweb
      a(href="#") 
        h2.solution__icon_text App Web 