section.section.section__solution.solution#tools
  h1.section__title.title__solution Herramientas
  .solution__items 
    .solution__icon 
      i.solution__icon_font.icon-db
      a(href="#") 
        h2.solution__icon_text Base de datos
    .solution__icon
      i.solution__icon_font.icon-ux
      a(href="#") 
        h2.solution__icon_text UX/UI
    .solution__icon
      i.solution__icon_font.icon-gps
      a(href="#") 
        h2.solution__icon_text GPS
  .solution__items 
    .solution__icon 
      i.solution__icon_font.icon-process
      a(href="#") 
        h2.solution__icon_text Procesos
    .solution__icon
      i.solution__icon_font.icon-hardware
      a(href="#") 
        h2.solution__icon_text Hardware
    .solution__icon
      i.solution__icon_font.icon-telemetria
      a(href="#") 
        h2.solution__icon_text Telemetría