<!DOCTYPE html>
html(lang="en")
  head
    include head
    title Upaya | Desarrollando soluciones on Demand, todo tipo de diseño de aplicaciones 
  body 
    include /pages/menu
    block banner
    block main
    block footer