meta(name="description" content="Empresa enfocada en el desarrollo de soluciones empresariales, diseño de software y hardware dedicado.")
meta(name="author" content="Upaya | Xizuth | Josef Leyva")
//- 155 caracteres la description