meta(property='og:type', content='business.business')
meta(property='og:title', content='Upaya')
meta(property='og:url', content='https://upayatech.work')
meta(property='og:image', content='https://upaya-home.firebaseapp.com/assets/favicon/apple-icon-180x180.png')
meta(property='business:contact_data:street_address', content='')
meta(property='business:contact_data:locality', content='Coatzacoalcos')
meta(property='business:contact_data:region', content='Veracruz')
meta(property='business:contact_data:postal_code', content='')
meta(property='business:contact_data:country_name', content='Mexico') 